.closed {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    margin-inline: auto;
    text-align: center;
}
.posts {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    padding: 4%;
    justify-content: space-evenly;
    transition: margin-top 1s ease, padding 1s ease;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;  
    border-radius: 10%;
    overflow: hidden;
    text-decoration: none;
    background: #dca6fc;
    box-shadow: 8px 10px 14px 0 rgba(0,0,0,.8);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: height 1s ease, width 1s ease;
}
.post:hover {
    cursor:pointer;
    transform: scale(1.02);
}
.cardImageContainer {
    display: flex;
}
.cardImage {
    width: 100%;
    height: auto;
}

.cardTitle {
    font-size: x-large;
    font-weight: 800;
    transition: font-size 1s ease, font-weight 1s ease;
}

.previewContainer {
    height: 50%;
    margin-inline: 8%;

}
.cardPreview {
    margin-top: 2%;
    color: rgba(0, 0, 0, 0.493);
    font-weight: 90px;
    font-size: 16px;
    transition: font-size 3s ease;
}

@media screen and (max-width: 1300px) {
    .posts {
        margin-top: 4%;
    }
    .post {
        height: 300px;
        width: 300px;  
    }
    .cardTitle {
        font-size: large;
        font-weight: 800;
    }
    .cardPreview {
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px) {
    .posts {
        margin-top: 6%;
    }
}
@media screen and (max-width: 800px) {
    .posts {
        margin-top: 8%;
    }
}
@media screen and (max-width: 700px)
{ 
    .post {
        height: 200px;
        width: 200px;  
    }
    .cardTitle {
        font-size: 12px;
        font-weight: 800;
    }
    .cardPreview {
        font-size: 8.5px;
    }
}
@media screen and (max-width: 600px) {
    .posts {
        margin-top: 9%;
    }
}
@media screen and (max-width: 520px) {
    .posts {
        margin-top: 11%;
    }
}
@media screen and (max-width: 500px) {
    .posts {
        margin-top: 12%;
        padding: 4%;
        flex-direction: column;
        justify-content: center; 
        align-items: center;    
    }
    .post {
        height: 250px;
        width: 250px;
        margin-bottom: 5%;
        margin-top: 2.5%
    }
    .cardTitle {
        font-size: 14px;
        font-weight: 800;
    }
    .cardPreview {
        font-size: 10.5px;
    }
}